@font-face {
  font-family: "Miso";
  src: url("/font/miso.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.title {
  display: flex;
  flex-direction: row;
  padding-left: 24px;
}

.title img {
  width: 20px;
}

.container {
  height: calc(100vh - 169px);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  @media (width<=1465px) {
    height: unset;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
  }
}
.container .picture,
.container .link {
  width: 50%;
  height: 100%;
  /* outline: 1px solid #000; */
  box-sizing: border-box;
  overflow-y: Auto;

  @media (width<=760px) {
    height: 100%;
    box-sizing: border-box;
    overflow-y: Auto;
  }
}

.container .picture {
  background-image: url("../img/mewitkait.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  @media (width<=1465px) {
    aspect-ratio: 1/1;
    width: 100%;
  }
}

.container .link {
  /* padding: 20px 20px; */
  display: flex;
  flex-direction: column;
  @media (width<=1465px) {
    width: 100%;
  }
}

.container .link .infogroup {
  background-color: #ecf0f3;
  display: flex;
  flex-direction: column;
  padding: 93px 0px 60px 0px;
  @media (width<=1465px) {
    width: 100%;
  }
}

.exp {
  background-color: #ecf0f3;
  display: flex;
  flex-direction: column;
  padding: 12px 24px 24px 24px;
  gap: 12px;
}
.exp h2 {
  color: #000;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 113.636% */
  letter-spacing: -0.2px;
}

.container .link h1 {
  color: #000;
  font-family: "Miso";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 125% */
  letter-spacing: -0.2px;

  padding: 20px;

  @media (width<=760px) {
    padding: 20px 12px 0px 12px;
    background-color: #ecf0f3;
  }
}
.container .link .infocontent {
  color: #000;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
  letter-spacing: -0.2px;
  padding: 24px 24px 0px 24px;
  @media (width<=760px) {
    padding: 20px 12px;
    background-color: #ecf0f3;
  }
}

.container .card {
  width: 80%;
  transition: opacity 0.3s;
  @media (width>=760px) {
    width: 44%;
  }
  margin-bottom: 24px;
}

.container .card:hover {
  opacity: 0.8;
}

.container .card img {
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container .card-container .card h1 {
  margin-top: 20px;
  padding: 0;
  font-size: 22px;
  background-color: unset;
}

.container .card-container .card h2 {
  margin-top: 8px;
  padding: 0;
  color: #000;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.container .card p {
  margin-top: 4px;
  color: #000;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 183.333% */
}

.container .link .card-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
}

.allcontent {
}
img {
  width: 100%;
}

.container .link .more {
  text-align: right;
  padding: 14px 34px;
  background-color: #d3d3d3;

  @media (width<=1465px) {
    background-color: #d3d3d3;
    padding: 22px 42px;
  }

  @media (width<=1465px) {
    order: -1;
  }
}
.container .link .more a {
  text-decoration: none;
  font-family: miso;
  color: inherit;
  font-size: 24px;
  @media (width<=760px) {
    font-size: 20px;
  }
}
