/*
* @data 2025-11-05
* Author: Arte 
*
* Arte Profolio
-----------------------------------
   1. Universe
   2. Container
   3. RWD  
-----------------------------------
*/

/*===============================
			1. Universe
================================*/

html,
body {
  color: var(--primary-color);
  background-image: linear-gradient(133deg, #f5f7fa 24.2%, #c3cfe2 69.65%);
}

/*===============================
			1. Container
================================*/

#Main-background {
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  border-radius: 0 0 20px 20px;
}

#MainContainer {
  --opacity: 0.4;
  padding: 8rem 0 8rem 0;
  border-radius: 0 0 20px 20px;
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, var(--opacity)) 0%,
    rgba(255, 255, 255, var(--opacity)) 100%
  );
}

#main {
  padding: 2rem 0.5rem;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  background-image: url("Rectangle.svg");

  @media (width<=760px) {
    padding: 4rem 1rem;
  }
}

#WelcomePage {
  width: 100%;
  border-radius: 0px 0px 68px 68px;
  /* opacity: 0.8; */
}

#WelcomePageImg {
  /* aspect-ratio: 1/1; */
  background-color: none;
  position: relative;
  margin-left: 20%;
  margin-bottom: 5%;
  width: 80%;
}

.Pillar {
  position: absolute;
  right: 0px;
  width: 30vw;
  top: 0;
  max-width: 46vh;
}
main figure {
  margin-bottom: 2rem;
}

#WelcomepageTitle {
  position: absolute;
  top: 90%;
  left: 32%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  white-space: nowrap;
}

.HRSYSTEM2 {
  color: #3c4043;
  /* font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.2px; */
  /* position: bsolute; */
  /* white-space: nowrap; */
}

#WecomePageSec {
  position: absolute;
  height: fit-content;
  top: 90%;
  right: 10rem;
  left: 8%;
}

.HRSYSTEM3 {
  color: #3c4043;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  letter-spacing: 0.32px;
}

.HRSYSTEM4 {
  color: #3c4043;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 125% */
  letter-spacing: -0.2px;
}
