@font-face {
  font-family: "Miso";
  src: url("/font/miso.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  font-family: Roboto, sans-serif;
}
body {
  background-color: #81b1cf;
}

#introcontentone {
  scroll-margin-top: 56px;
}

.hero {
  background-image: url("../img/bgmix.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  @media (width<=760px) {
    height: 82%;
  }
}

.hero .buttonarea {
  width: 100%;
  text-align: center;
  padding: 12px 0;
  background: linear-gradient(
    0deg,
    rgba(106, 133, 182, 0.2) -30.05%,
    rgba(186, 200, 224, 0.2) 100%
  );
  backdrop-filter: blur(20px);
}

.hero .buttonarea h2,
.intro .introcontent h2 {
  color: #3c4043;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 500;
  line-height: 2;
}

.hero .buttonarea p,
.intro .introcontent .introp {
  width: 90%;
  margin: auto;
  color: #3c4043;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.hero .buttonarea .btncontainer .btn {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin: auto;
  border-radius: 22px;
  border: none;
  background: #f7f7f7;
  cursor: pointer;
}

.hero .buttonarea .btncontainer .btn img {
  width: 12px;
}

.intro {
  background-image: url("../img/bgmock.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 60%; */
}

.intro .container {
  padding: 310px 0px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.intro .introcontent {
  width: 100%;
  text-align: center;
  background: linear-gradient(
    0deg,
    rgba(106, 133, 182, 0.2) -30.05%,
    rgba(186, 200, 224, 0.2) 100%
  );
  backdrop-filter: blur(20px);
  padding: 64px 0;
  @media (width<=760px) {
    padding: 94px 0;
  }
}

.intro .introcontent h2 {
  color: #3c4043;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 107.692% */
  letter-spacing: 0.32px;
  margin-bottom: 12px;
}

.intro .introcontent .con {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;

  @media (width>=760px) {
    display: flex;
    justify-content: center;
    gap: 42px;
  }
}

.intro .introcontent .con .introcard {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.intro .introcontent .con .introcard h3 {
  color: #3c4043;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 500;
  text-align: left;
}

.intro .introcontent .con .introcard p {
  color: #3c4043;
  font-family: Roboto;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
}

.intro .transe {
  /* backdrop-filter: blur(55px); */
  background-image: linear-gradient(
    to top,
    #81b1cf 0%,
    rgb(185, 212, 228) 50%,
    rgba(255, 255, 255, 0.345) 80%,
    rgba(255, 255, 255, 0) 100%
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 279px;
  width: 100%;
  /* margin-top: auto; */
}

.analyse {
  background-color: #81b1cf;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/analyseimg.svg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  @media (width<=760px) {
    background-image: url("../img/analyseimgmobile.svg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.analyse .introcard {
  border-radius: 16px;
  background: rgba(136, 150, 158, 0.4);
  backdrop-filter: blur(5px);
  padding: 42px 42px;
  margin: 50px 0;
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.analyse .introcard h2 {
  color: #fff;
  text-align: center;
  font-family: roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.analyse .introcard p {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.analyse .introcard .Illustration {
  display: flex;
  gap: 60px;
  padding: 24px 0;

  @media (width<=760px) {
    width: 55%;
    flex-wrap: wrap;
    display: block;
  }
}

.analyse .introcard .Illustration.ma {
  display: flex;
  gap: 60px;
  padding: 24px 0;

  @media (width<=760px) {
    width: 55%;
    flex-wrap: wrap;
    display: block;
  }
}

.analyse .introcard .Illustration .pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  @media (width<=760px) {
    padding-bottom: 36px;
  }
}

.introcontener {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
  background-image: url("../img/hrrecruitmaent.svg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 300px 0;
  padding-bottom: 700px;
  @media (width<=760px) {
    flex-direction: column;
    gap: 0px;
    background-image: url("../img/hrrecruitmaentmobile.svg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.introcontent {
  text-align: center;
  /* gap: 28px; */
  padding: 148px 84px;
  background: linear-gradient(
    0deg,
    rgba(106, 133, 182, 0.2) -30.05%,
    rgba(186, 200, 224, 0.2) 100%
  );
  backdrop-filter: blur(20px);
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.introcontent h2 {
  color: #3c4043;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 500;
  line-height: 2;
}

.introcontent .introp {
  color: #3c4043;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  width: 60%;
  @media (width<=760px) {
    color: #444;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    width: 90%;
  }
}

.analyse .introcontent p {
  color: #3c4043;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
  width: 60%;
}

.userflow {
  display: flex;
  gap: 20px;
  @media (width<=760px) {
    flex-direction: column;
  }
}

.userflowimg {
  width: 100%;
}

.analyse .carousel {
  display: flex;
  flex-direction: column;
  padding: 42px 0;
}

.analyse .carousel h2 {
  color: #fff;
  text-align: center;
  font-family: "Noto Looped Thai UI";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px; /* 150% */
}

.carousel .flowswitch {
  display: flex;
  gap: 36px;
  align-items: center;
  justify-content: center;
}

.carousel .flow .more {
  text-align: right;
  padding: 14px;
}
.carousel .flow .more a {
  text-decoration: none;
  font-family: miso;
  color: inherit;
  font-size: 24px;
  @media (width<=760px) {
    font-size: 20px;
  }
}

.gray {
  background-color: #aaa;
}
.swiper {
  width: 90%;
  height: auto;
  background-color: #d1dde5;
}

.swichbtn {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 150px;
}

.swichbtn .btn {
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.5;
  background-color: transparent;
  border: none;
  position: relative;
  @media (width<=760px) {
    font-size: 16px;
    padding: 6px 6px;
    border-radius: 8px 8px 0 0;
    line-height: 1.2;
  }
}

.swichbtn .btn.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 20px;
  bottom: 0;
  left: 0;
  @media (width<=760px) {
    height: 2px;
  }
}

.swichgroup {
  background-color: #d1dde5;
  margin: 30px 200px;
  padding: 36px 36px;
  border-radius: 20px;
  @media (width<=760px) {
    margin: 20px 20px;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: contain;
}

.flowcontainer.system {
  background-color: #d1dde5;
}

.mockup {
  /* background-color: #d0edff; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.mockupintro {
  text-align: center;
  background-image: url("../img/mockupintroimg.svg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding: 300px 0;
}
.mockupintro .mockupintrocon {
  text-align: center;
  /* gap: 28px; */
  padding: 224px 0;
  background: linear-gradient(
    0deg,
    rgba(106, 133, 182, 0.2) -30.05%,
    rgba(186, 200, 224, 0.2) 100%
  );
  backdrop-filter: blur(20px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proposolimg {
  position: absolute;
  bottom: 0;
  width: 90%;
  @media (width<=360px) {
    width: 100%;
  }
}

.mockupintro .mockupintrocon h1 {
  color: #3c4043;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 500;
  line-height: 2;
}

.mockupintro .mockupintrocon p {
  color: #3c4043;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  width: 60%;
  padding-bottom: 60px;
}

.mockup .mockuppic {
  align-items: center;
  gap: 2rem;
  margin-bottom: 46px;
  @media (width>=760px) {
    display: flex;
  }
}
.mockup .mockuppic .copywritting {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin-bottom: 20%;

  @media (width>=760px) {
    width: 50%;
  }
}
.mockup .mockuppic .copywritting h1 {
  color: #fff;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  @media (width<=760px) {
    text-align: center;
  }
}
.mockup .mockuppic .copywritting p {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  line-height: 36px;
  width: 90%;
  margin-top: 20px;
}

.mockup .mockuppic .pic {
  position: relative;
  width: 100%;
  height: 1250px;
  overflow: hidden;
  @media (width>=760px) {
    width: 50%;
  }
}
.mockup .mockuppic .pic .pic-a,
.mockup .mockuppic .pic .pic-b,
.mockup .mockuppic .pic .pic-c {
  position: absolute;
  transition: left 0.5s ease, top 0.5s ease;
}
.mockup .mockuppic .pic .pic-a img,
.mockup .mockuppic .pic .pic-b img,
.mockup .mockuppic .pic .pic-c img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  border-radius: 32px;
  background: #d1dde5;
  box-shadow: 0 -10px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 24px;
  justify-content: space-between;
  align-items: center;
}

.mockup .mockuppic .pic .pic-a {
  top: 2rem;
  left: 2rem;
}
.mockup .mockuppic .pic .pic-a:hover {
  top: 0;
  left: 0;
}

.mockup .mockuppic .pic .pic-b {
  top: 18rem;
  left: 8rem;
}
.mockup .mockuppic .pic .pic-b:hover {
  top: 16rem;
  left: 6rem;
}
.mockup .mockuppic .pic .pic-c {
  top: 34rem;
  left: 14rem;
}

.mockup .mockuppic .pic .pic-c:hover {
  top: 32rem;
  left: 12rem;
}

.mockup .projects .projectbtn-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: sticky;
  top: 290px;
  width: fit-content;
  margin-left: 20px;
}

#aproject,
#bproject,
#cproject {
  scroll-margin-top: 90px;
  @media (width<=760px) {
    scroll-margin-top: 145px;
  }
}

.mockup .projects .projectbtn-group .project-btn {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  background-color: rgba(249, 237, 237, 0.7);
  backdrop-filter: blur(10px);
  font-size: 26px;
  color: #3cc3bd;
}

.mockup .btn-group {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-left: 20px;
  @media (width<=760px) {
    gap: 2px;
  }
}

.mockup .btn-group .btn {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 12px 12px 0 0;
  padding: 14px 8px;
  cursor: pointer;
  gap: 12px;
  @media (width<=760px) {
    font-size: 12px;
    padding: 6px 6px;
    border-radius: 8px 8px 0 0;
  }
}

.skyblue {
  background-color: #d0edff;
}
.gray {
  background-color: #a4d2ef;
}
.ash {
  background-color: #afc4d1;
}
.pink {
  background-color: #d8d8d8;
}

.projects {
  margin-bottom: 300px;
  /* background-color: aqua; */
}
.project-content {
  /* background-color: #d0edff; */
  /* border-radius: 20px; */
  /* padding: 60px 0; */
  /* margin: 60px 0px; */
}
.project-content .mockup img {
  margin-bottom: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;

  background: #d1dde5;
  padding: 24px;
  justify-content: center;
  align-items: center;
  @media (width<=760px) {
    border-radius: 16px;
    padding: 14px;
  }
}

.first {
  z-index: 1;
}

.situation {
  padding: 60px;
  /* background-color: #d0edff; */
  display: none;
  margin: 0 20px 40px 20px;
  border-radius: 0 20px 20px 20px;
  box-shadow: 0px -16px 4px 0px rgba(0, 0, 0, 0.25);
  @media (width<=760px) {
    border-radius: 0 12px 12px 12px;
  }
}

.tabcontent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;

  flex-wrap: wrap;
  @media (width<=1090px) {
    order: -2;
    text-align: center;
  }
}

.option {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  @media (width<=1090px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.option.lead {
  margin-bottom: 130px;

  /* @media (width<=760px) {
    order: -1;
  } */
}

.active {
  display: block;
}

.situation .option .title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  color: #3c4043;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px; /* 107.692% */
  @media (width<=760px) {
    /* grid-column: 1 / 3;
    grid-row: 1 / 2; */
  }
}

.situation .option .content {
  /* grid-column: 2 / 3;
  grid-row: 2 / 3; */
  color: #000;
  font-size: 18px;
  line-height: 1.2;
  /* width: 50%; */
  @media (width<=760px) {
    /* grid-column: 2 / 3;
    grid-row: 2 / 3; */
  }
}

.situation .option .mainpic {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  justify-self: center;
  width: 100%;
  max-width: 574px;
  @media (width<=760px) {
    /* grid-column: 1 / 2;
    grid-row: 2 / 3; */
  }
}

.situation .option .secpic {
  /* grid-column: 2 / 3;
  grid-row: 3 / 4; */
  width: 35%;
  max-width: 156px;
  @media (width<=1078px) {
    order: -1;
  }
}

.avtry {
  aspect-ratio: 156/305;
  width: 200px;
  background-image: url("../img/hrfrontphone.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding: 15px 15px 15px;
}

.avpctry {
  aspect-ratio: 574/337;
  width: 574px;
  background-image: url("../img/hrfrontpcdem.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding: 24px 71px 43px;
  width: 100%;
}

.avpctry video {
  aspect-ratio: 432/272;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avtry video {
  aspect-ratio: 156/305;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
