.hero {
  background-image: url("../img/bgmix.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: center;

  @media (width<=760px) {
  }
}
/* * {
  outline: 1px solid rgba(60, 64, 67, 0.376); */

.hero .buttonarea {
  width: 100%;
  text-align: center;
  padding: 12px 0;
  background: linear-gradient(
    0deg,
    rgba(106, 133, 182, 0.2) -30.05%,
    rgba(186, 200, 224, 0.2) 100%
  );
  backdrop-filter: blur(20px);
}

.hero .buttonarea h2,
.intro .introcontent h2 {
  color: #3c4043;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 500;
  line-height: 2;
}

.hero .buttonarea p,
.intro .introcontent .introp {
  width: 90%;
  margin: auto;
  color: #3c4043;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 12px;
}

.hero .buttonarea .btncontainer .btn {
  width: 24px;
  height: 24px;
  border-radius: 22px;
  border: none;
  background: #f7f7f7;
  cursor: pointer;
}

.intro {
  background-image: url("../img/bgmock.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 60%; */
}
.intro .container {
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.intro .introcontent {
  width: 100%;
  text-align: center;
  background: linear-gradient(
    0deg,
    rgba(106, 133, 182, 0.2) -30.05%,
    rgba(186, 200, 224, 0.2) 100%
  );
  backdrop-filter: blur(20px);
  padding: 64px 0;
}

.intro .introcontent h2 {
  color: #3c4043;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 107.692% */
  letter-spacing: 0.32px;
}

.intro .introcontent .con {
  width: 80%;
  margin: auto;
  @media (width>=760px) {
    display: flex;
    gap: 42px;
  }
}

.intro .introcontent .con .introcard {
  margin-top: 36px;
}

.intro .introcontent .con .introcard h3 {
  color: #3c4043;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 500;
  text-align: left;
}

.intro .introcontent .con .introcard p {
  color: #3c4043;
  font-family: Roboto;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
}

.intro .transe {
  /* backdrop-filter: blur(55px); */
  background-image: linear-gradient(
    to top,
    #81b1cf 0%,
    rgb(185, 212, 228) 50%,
    rgba(255, 255, 255, 0.345) 80%,
    rgba(255, 255, 255, 0) 100%
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 279px;
  width: 100%;
  /* margin-top: auto; */
}

.analyse {
  background-color: #81b1cf;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.analyse .introcard {
  border-radius: 16px;
  background: rgba(136, 150, 158, 0.4);
  backdrop-filter: blur(5px);
  padding: 42px 42px;
  margin: 24px 0;
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.analyse .introcard h2 {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.analyse .introcard p {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 125% */
}

.analyse .introcard .Illustration {
  display: flex;
  gap: 28px;
  padding: 24px 0;
  @media (width<=760px) {
    width: 55%;
    flex-wrap: wrap;
    display: block;
  }
}

.analyse .introcard .Illustration .pic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.analyse .introcontent {
  text-align: center;
  gap: 28px;
  padding: 24px 0;
  background: linear-gradient(
    0deg,
    rgba(106, 133, 182, 0.2) -30.05%,
    rgba(186, 200, 224, 0.2) 100%
  );
  backdrop-filter: blur(20px);
}

.analyse .introcontent h2 {
  color: #3c4043;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 500;
  line-height: 2;
}

.analyse .introcontent p {
  color: #3c4043;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
}

.analyse .Carousel {
  display: flex;
  flex-direction: column;
  padding: 42px 0;
}

.analyse .Carousel h2 {
  color: #fff;
  text-align: center;
  font-family: "Noto Looped Thai UI";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px; /* 150% */
}

.Carousel .flowswitch {
  display: flex;
  gap: 36px;
  align-items: center;
  justify-content: center;
}

.Carousel .flow .more {
  text-align: right;
  padding: 24px 34px;
}
.Carousel .flow .more a {
  text-decoration: none;
  font-family: miso;
  color: inherit;
  font-size: 24px;
  @media (width<=760px) {
    font-size: 20px;
  }
}

.Carousel .flow .flowcontainer {
  width: 100%;
  height: 651px;
  background-color: #d1dde5;
  border-radius: 20px;
}

.mockup {
  background-color: #81b1cf;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.mockup .mockupintro {
  text-align: center;
  gap: 28px;
  padding: 24px 0;
  background: linear-gradient(
    0deg,
    rgba(106, 133, 182, 0.2) -30.05%,
    rgba(186, 200, 224, 0.2) 100%
  );
  backdrop-filter: blur(20px);
  margin-bottom: 100px;
}

.mockup .mockuppic {
  align-items: center;
  gap: 2rem;
  @media (width>=760px) {
    display: flex;
  }
}
.mockup .mockuppic .copywritting {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @media (width>=760px) {
    width: 50%;
  }
}

.mockup .mockuppic .pic {
  position: relative;
  width: 100%;
  height: 1250px;
  overflow: hidden;
  @media (width>=760px) {
    width: 50%;
  }
}
.mockup .mockuppic .pic .pic-a,
.mockup .mockuppic .pic .pic-b,
.mockup .mockuppic .pic .pic-c {
  position: absolute;
  transition: left 0.5s ease, top 0.5s ease;
}
.mockup .mockuppic .pic .pic-a img,
.mockup .mockuppic .pic .pic-b img,
.mockup .mockuppic .pic .pic-c img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
}

.mockup .mockuppic .pic .pic-a {
  top: 2rem;
  left: 2rem;
}
.mockup .mockuppic .pic .pic-a:hover {
  top: 0;
  left: 0;
}

.mockup .mockuppic .pic .pic-b {
  top: 18rem;
  left: 8rem;
}
.mockup .mockuppic .pic .pic-b:hover {
  top: 16rem;
  left: 6rem;
}
.mockup .mockuppic .pic .pic-c {
  top: 34rem;
  left: 14rem;
}

.mockup .mockuppic .pic .pic-c:hover {
  top: 32rem;
  left: 12rem;
}

.mockup .project-content {
  height: 1000px;
}

.mockup .project-content .projectbtn-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: sticky;
  top: 50px;
  width: fit-content;
}

.mockup .project-content .projectbtn-group .project-btn {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  border: none;
  text-decoration: none;
  text-align: center;
  line-height: 42px;
  background-color: rgba(217, 217, 217, 0.5);
  backdrop-filter: blur(10px);
}

.mockup .btn-group {
  display: flex;
  align-items: center;
}

.first {
  order: -1;
}
