html {
  scroll-behavior: smooth;
  font-family: Roboto, sans-serif;
}
body {
  background-color: #b7e1e0;
}
/* 
* {
  outline: 1px solid #00000030;
} * */

.hero {
  display: flex;
  align-items: center;
  background-color: #9eded4;
}

.hero .motion {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .purpose {
  width: 50%;
}

.hero .purpose h1 {
  color: #f4f8fa;
  font-family: Roboto;
  font-size: 64px;
  font-weight: 700;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  @media (width<=760px) {
    color: #f4f8fa;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    width: 80%;
    margin: auto;
    margin-bottom: 12px;
    margin-top: 20px;
  }
}

.hero .purpose p {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  @media (width<=760px) {
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
  }
}

.hero .purpose .btn {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%;
  margin: auto;
}

.hero .purpose .btn a {
  background: #fff;
  border-radius: 100px;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  width: 45%;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  @media (width<=760px) {
    width: 100%;
  }
}

.hero .purpose .btn a.active {
  background: #8cdff0;
}
.transe {
  position: relative;
  top: -100px;
  background-image: linear-gradient(
    to top,
    transparent 0%,
    #c0ded9 50%,
    transparent 100%
  );
  height: 200px;
  z-index: 1;
}

.motion {
  display: flex;
  gap: 12px;
}

.motion .mobile {
  width: 33.33%;
  height: 400px;
  overflow: hidden;
}

.motion .mobile img {
  width: 100%;
}

.scrolling {
  animation: scrollUp 10s linear infinite;
}

.scrolling_down {
  animation: scrolldown 10s linear infinite;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%); /* 原本 4 個項目 * 每個 50px */
  }
}

@keyframes scrolldown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%); /* 原本 4 個項目 * 每個 50px */
  }
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: url("../img/subscrptionbg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: -200px;

  @media (width<=760px) {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.intro .copywrite {
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;
  @media (width<=760px) {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
  }
}

.intro .copywrite h1 {
  color: #22615e;
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.intro .copywrite p {
  color: #22615e;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 125% */
  letter-spacing: -0.2px;
}

.intro .picture img {
  width: 100%;
}

.tocontentbtn {
  background-color: #9fded4;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -200px;
}

.tocontentbtn a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainintro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainintro h1 {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mainintro p {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 125% */
}

.mainintro .introdution {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 80%;
  margin: 40px 0px 100px 0;
}

.mainintro .introdution .introimgcontener {
  display: flex;
  flex-direction: row;
  width: 100%;
  @media (width<=760px) {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.introimgcontener .dialogbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introimgcontener .demoimg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialogbox .dialog {
  width: 30%;
}
.dialogbox .demo {
  width: 70%;
}
.demoimg .dialog {
  width: 58%;
  @media (width<=760px) {
    width: 53%;
  }
}

.demoimg .demo {
  width: 58%;
}

.mainintro .problems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 20px;
  margin: 40px 0px 100px 0;
}

.mainintro .problems .analysisimg {
  @media (width<=760px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }
}

.solution {
  display: flex;
  flex-direction: row;
  background-color: #fff;
}

.solution h1 {
  color: #000;
  text-align: center;
  font-size: 140px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.solution p {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.solution .verticalarea {
  width: 10%;
  padding: 40px 0;
  background-color: #fff;
  box-shadow: 39px 14px 40px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  @media (width<=760px) {
    width: 20%;
  }
}

.solution .ver {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.solution .ver .circle {
  width: 180px;
  height: 180px;
  background-color: #3498db;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 30px;
  @media (width<=760px) {
    width: 68px;
    height: 68px;
    background-color: #3498db;
    border-radius: 50%;
  }
}

.solution .ver .circleb {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 20px;
  left: 10px;
  @media (width<=760px) {
    width: 68px;
    height: 68px;
    background-color: #3498db;
    border-radius: 50%;
  }
}

.solution .ver .circlec {
  width: 180px;
  height: 180px;
  background-color: #3498db;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 20px;
  left: 10px;
  @media (width<=760px) {
    width: 68px;
    height: 68px;
    background-color: #3498db;
    border-radius: 50%;
  }
}

.solution .ver .circled {
  width: 200px;
  height: 200px;
  background-color: #3498db;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 20px;
  left: 10px;
  @media (width<=760px) {
    width: 68px;
    height: 68px;
    background-color: #3498db;
    border-radius: 50%;
  }
}
.solution .horizontalcontent {
  width: 20%;
}
