html {
  scroll-behavior: smooth;
  font-family: Roboto, sans-serif;
}
body {
  background-color: #9eded4;
}

/* * {
  outline: 1px solid #00000030;
} */

.hero {
  display: flex;
  align-items: center;
}

.hero .motion {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .purpose {
  width: 50%;
}

.hero .purpose h1 {
  color: #f4f8fa;
  font-family: Roboto;
  font-size: 64px;
  font-weight: 700;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

.hero .purpose p {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

.hero .purpose .btn {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%;
  margin: auto;
}

.hero .purpose .btn a {
  background: #fff;
  border-radius: 100px;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  width: 45%;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  @media (width<=760px) {
    width: 100%;
  }
}

.hero .purpose .btn a.active {
  background: #8cdff0;
}

.transe {
  /* backdrop-filter: blur(55px); */
  background-image: linear-gradient(
    to top,
    #9eded4 0%,
    rgb(202 245 247) 50%,
    rgba(255, 255, 255, 0.345) 80%,
    rgba(255, 255, 255, 0) 100%
  );

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 279px;
  width: 100%;
  /* margin-top: auto; */
}
.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
