html {
  scroll-behavior: smooth;
  font-family: Roboto, sans-serif;
}
body {
  background-color: #fff;
}
/* 
    * {
      outline: 1px solid #00000030;
    } * */

.hero {
  display: flex;
  align-items: center;
  background-color: #00a19b;
  /* min-height: 90vh; */
}

.hero .motion {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  @media (width<=760px) {
    height: 100vh;
  }
}

.hero .purpose {
  width: 50%;
}

.hero .purpose h1 {
  color: #f4f8fa;
  font-family: Roboto;
  font-size: 64px;
  font-weight: 700;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  @media (width<=760px) {
    color: #f4f8fa;
    font-family: Roboto;
    font-size: 44px;
    font-weight: 700;
    width: 80%;
    margin: auto;
    margin-bottom: 12px;
    margin-top: 20px;
  }
}

.hero .purpose p {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  @media (width<=760px) {
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
  }
}

.hero .purpose .btn {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%;
  margin: auto;
}

.hero .purpose .btn a {
  background: #fff;
  border-radius: 100px;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  width: 45%;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  @media (width<=1021px) {
    width: 100%;
    padding: 20px 12px;
  }
  @media (width<=760px) {
    width: 100%;
    padding: 20px 12px;
  }
}

.hero .purpose .btn a.active {
  background: #8cdff0;
}
.transe {
  position: relative;
  top: -100px;
  background-image: linear-gradient(
    to top,
    transparent 0%,
    #a3dfe1 50%,
    transparent 100%
  );
  height: 200px;
  z-index: 1;
}

.motion {
  display: flex;
  gap: 12px;
}

.motion .mobile {
  width: 33.33%;
  height: 100%;
  overflow: hidden;
  @media (width<=760px) {
    display: none;
    width: 50%;
  }
}

.motion .only-mobile {
  display: block;
  @media (width>=760px) {
  }
}

.motion .mobile img {
  width: 100%;
}

.scrolling {
  animation: scrollUp 10s linear infinite;
}

.scrolling_down {
  animation: scrolldown 10s linear infinite;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%); /* 原本 4 個項目 * 每個 50px */
  }
}

@keyframes scrolldown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%); /* 原本 4 個項目 * 每個 50px */
  }
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(90deg, #00a19b 0%, #87dad7 77.5%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: -200px;

  @media (width<=760px) {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.intro .copywrite {
  margin-left: 280px;
  margin-right: 80px;
  text-align: left;
  @media (width<=1480px) {
    margin-left: 80px;
    margin-right: 80px;
    text-align: left;
    margin-top: 80px;
    margin-bottom: 50px;
  }
  @media (width<=760px) {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
  }
}

.intro .copywrite h1 {
  color: #fff;
  text-align: left;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 20px 0;
  @media (width<=760px) {
    font-size: 26px;
    text-align: center;
  }
}

.intro .copywrite p {
  color: #fff;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: auto; /* 125% */
  letter-spacing: -0.2px;
  padding: 8px 0;
  @media (width<=760px) {
    text-align: left;
    font-size: 16px;
  }
}

.intro .picture img {
  width: 100%;

  /* margin-top: 60px; */
  /* margin-bottom: 60px; */
  /* position: relative;
    right: 240px; */
  @media (width<=760px) {
    /* width: 90%; */
  }
}

.tocontentbtn {
  background-color: #27afaa;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -200px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.tocontentbtn a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -150px;
}

.title .p1 {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 26px;
}

.title .p2 {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 16px;
}

.title .p3 {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  padding: 0 80px;
  @media (width<=760px) {
    text-align: center;
  }
}

.typography {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 0 80px;
  @media (width<=760px) {
    align-items: center;
    margin-bottom: 40px;
  }
}

h1 {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
  padding-bottom: 20px;
}

.tp {
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  width: 30%;
  @media (width<=760px) {
    width: 100%;
    text-align: center;
  }
}
.tp_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 196px;
  margin: 0 80px;
  @media (width<=760px) {
    flex-wrap: wrap;
    gap: 96px;
  }
}

.font {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

h2 {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px 0px;
}
p {
  font-size: 18px;
  @media (width<=760px) {
    text-align: center;
  }
}

.tp_title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  @media (width<=760px) {
    align-items: center;
  }
}

.color {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 180px 80px;
  @media (width<=760px) {
    align-items: center;
  }
}

.color .colorimg {
  width: 100%;
  padding-top: 80px;
  margin: auto;
}
