html {
  scroll-behavior: smooth;
  font-family: Roboto, sans-serif;
}
body {
  background-color: #9fbacf;
}
/* 
    * {
      outline: 1px solid #00000030;
    } * */

.hero {
  display: flex;
  align-items: center;
  background-color: #9fbacf;
  /* min-height: 90vh; */
}

.hero .motion {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  @media (width<=760px) {
    height: 100vh;
  }
}

.hero .purpose {
  width: 50%;
}

.hero .purpose h1 {
  color: #f4f8fa;
  font-family: Roboto;
  font-size: 64px;
  font-weight: 700;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  @media (width<=760px) {
    color: #f4f8fa;
    font-family: Roboto;
    font-size: 44px;
    font-weight: 700;
    width: 80%;
    margin: auto;
    margin-bottom: 12px;
    margin-top: 20px;
  }
}

.hero .purpose p {
  color: #fff;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  line-height: normal;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  text-align: left;
  @media (width<=760px) {
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
  }
}

.hero .purpose .btn {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%;
  margin: auto;
  justify-content: flex-start;
}

.hero .purpose .btn a {
  background: #fff;
  border-radius: 100px;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  width: 45%;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 0%;
  @media (width<=1021px) {
    width: 100%;
    padding: 20px 12px;
  }
  @media (width<=760px) {
    width: 100%;
    padding: 20px 12px;
  }
}

.hero .purpose .btn a.active {
  background: #8cdff0;
}
.transe {
  position: relative;
  top: -100px;
  background-image: linear-gradient(
    to top,
    transparent 0%,
    #9fbacf 50%,
    transparent 100%
  );
  height: 200px;
  z-index: 1;
}

.motion {
  display: flex;
  gap: 12px;
}

.motion .mobile {
  width: 33.33%;
  height: 100%;
  overflow: hidden;
  @media (width<=760px) {
    display: none;
    width: 50%;
  }
}

.motion .only-mobile {
  display: block;
  @media (width>=760px) {
  }
}

.motion .mobile img {
  width: 100%;
}

.scrolling {
  animation: scrollUp 10s linear infinite;
}

.scrolling_down {
  animation: scrolldown 10s linear infinite;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%); /* 原本 4 個項目 * 每個 50px */
  }
}

@keyframes scrolldown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%); /* 原本 4 個項目 * 每個 50px */
  }
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(90deg, #9fbacf 0%, #ace0f9 77.5%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: -200px;

  @media (width<=760px) {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.intro .copywrite {
  margin-left: 20px;
  margin-right: 80px;
  text-align: left;
  @media (width<=1480px) {
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
  }
  @media (width<=760px) {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
  }
}

.intro .copywrite h1 {
  color: #364b84;
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  margin: 0 20px;
}

.intro .copywrite p {
  color: #364b84;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  line-height: 32px; /* 125% */
  text-align: left;
  margin: 0px 20px;
}

.intro .picture img {
  width: 100%;

  /* margin-top: 60px; */
  /* margin-bottom: 60px; */
  /* position: relative;
    right: 240px; */
  @media (width<=760px) {
    /* position: relative; */
    /* right: 0px; */
    /* margin-left: 25px; */
    /* width: 90%; */
  }
}

.tocontentbtn {
  background-color: #8ca3b5;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -200px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.tocontentbtn a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userinterview {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  background-image: linear-gradient(90deg, #fdfbfb 0%, #ebedee 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 50px;
  margin: 0px 44px 60px 44px;

  @media (width<=760px) {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.whouse {
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.userinterview img {
  width: 30%;
  @media (width<=760px) {
    width: 90%;
  }
}

.userinterview .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

h2 {
  color: #364b84;
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 24px 0px 0px 0px;
  text-align: center;
  @media (width<=1057px) {
    font-size: 26px;
  }
}

p {
  color: #364b84;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin: 20px 60px;
  text-align: center;

  @media (width<=1057px) {
    font-size: 20px;
    margin: 20px 40px;
  }

  @media (width<=760px) {
    margin: 20px 0;
    font-size: 18px;
  }
}

.protokanocontent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 60px 0;
  margin: 0 44px;
  gap: 44px;
  @media (width<=944px) {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.prototype {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 24px;
  background-image: linear-gradient(
    90deg,
    #d5dee7 0%,
    #e8ebf2 50%,
    #e2e7ed 100%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 50px 0 50px;
  /* margin: 0 44px; */
}
.prototype img {
  width: 90%;
  /* box-shadow: 33.908px 33.908px 101.725px 0px rgba(22, 17, 17, 0.2); */
}

.kano {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 80px;
  border-radius: 24px;
  background-image: linear-gradient(
    90deg,
    #d5dee7 0%,
    #e8ebf2 50%,
    #e2e7ed 100%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 50px 0 50px;
  /* margin: 0 44px; */
}

.kano img {
  width: 80%;
  margin-bottom: 40px;
  /* box-shadow: 33.908px 33.908px 101.725px 0px rgba(22, 17, 17, 0.2); */
}
.userdevice {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 50px;
  margin: 0 44px 64px 44px;
  background-image: linear-gradient(90deg, #fdfbfb 0%, #ebedee 100%);

  @media (width<=760px) {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.userdevice .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (width<=760px) {
    width: 100%;
  }
}
.userdevice img {
  width: 40%;
  @media (width<=760px) {
    width: 100%;
  }
}
.devicrimg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
  @media (width<=760px) {
    flex-wrap: wrap;
  }
}
.guideline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media (width<=760px) {
    flex-wrap: wrap;
  }
}

.uxpathimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;

  @media (width<=760px) {
    flex-wrap: wrap;
  }
}

.uxpathimg img {
  width: 80%;

  @media (width<=760px) {
    width: 120%;
  }
}

.abtest {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 50px;
  margin: 0 44px 64px 44px;
  background-image: linear-gradient(90deg, #fdfbfb 0%, #ebedee 100%);

  @media (width<=760px) {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.abtest img {
  width: 100%;
}

.abtest .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (width<=760px) {
    width: 100%;
  }
}

.horizontalcontent .hor_2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f1f1f1;
  width: 100%;
  height: fit-content;
  border-radius: 0 20px 20px 0;
  margin: 60px 20px 200px 0;
  padding: 44px 0 44px 44px;

  @media (width<=958px) {
    padding: 44px 0 44px 0px;
  }
}

.more {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: 44px 0 44px 0px;

  @media (width<=949px) {
    padding: 44px 0 44px 0px;
  }
}

.btn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%;
  justify-content: center;
  @media (width<=949px) {
    width: 100%;
  }
}

.btn a {
  background: #fff;
  border-radius: 100px;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  width: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 60px;
  /* min-width: 174px; */
}

.foot.btn a {
  background: #fff;
  border-radius: 100px;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  width: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 60px;
  min-width: 174px;
  @media (width<=949px) {
    width: 90%;
    font-size: 16px;
  }
}

.btn a.active {
  background: #8cdff0;
}

.circle_b {
  width: 180px;
  height: 180px;
  background-color: #00acc1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 40px;
  @media (width<=760px) {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 20px;
  }
}

.hortopcontent {
  position: relative;
  top: 100px;
  background-color: #00acc1;
  display: flex;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  @media (width<=530px) {
    width: 186px;
    height: 150px;
  }
}

.hortopcontent h1 {
  font-size: 38px;
  color: #000;
  position: relative;
  right: 20px;
  @media (width<=530px) {
    font-size: 28px;
    right: 10px;
  }
}

#mai {
  scroll-margin-top: 100px;
}

.foot.btn.gui {
  padding-bottom: 40px;
  @media (width<=949px) {
    padding-top: 40px;
  }
}

#nna {
  width: 12px;
  padding-left: 20px;
}

.foot.btn.fun a {
  width: 63%;
}

.foot.btn.fun {
  display: flex;
  flex-direction: row;
}

#function {
  padding-top: 40px;
}
