/* @font-face {
  font-family: "PostNoBillsColombo-SemiBold";
  src: url("/font/PostNoBillsColombo-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: "Miso";
  src: url("/font/miso.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
nav {
  background: rgba(224, 224, 224, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(22px);
  z-index: 16;
  position: sticky;
  top: 0;
}

nav .hatch {
  background: #fff;
  box-shadow: 0px 7px 4px 2px rgba(0, 0, 0, 0.25);
}

nav .btn-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 36px;
  width: 90%;
  margin: auto;
  padding: 32px 0px 20px 0px;
  font-family: "Miso";
  /* font-family: "PostNoBillsColombo-PostNoBillsColombo"; */
  @media (width<=760px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
  }
}

nav .btn-groupnologo {
  gap: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 36px;
  /* width: 90%; */
}

nav .logo {
  margin-right: auto;

  @media (width<=760px) {
    margin: unset;
  }
}

nav .btn-group a {
  color: #000;
  text-align: center;
  /* font-family: PostNoBillsColombo-SemiBold; */

  font-family: "Miso";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.2px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.activepage.activepage {
  border-bottom: 2px solid #000;
}

nav .btn-group a:hover {
  border-bottom: 2px solid #000;
}
