@font-face {
  font-family: "Miso";
  src: url("/font/miso.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  font-family: Roboto, sans-serif;
}
body {
  background-color: #dedede;
}

#introcontentone {
  scroll-margin-top: 56px;
}

.hero {
  font-family: "Miso";
  @media (width<=760px) {
    height: 17%;
  }
}

.hero .buttonarea h2 {
  font-family: "Miso";
}

.hero .buttonarea {
  width: 100%;
  text-align: center;
  padding: 12px 0;
}

.hero .buttonarea h2,
.intro .introcontent h2 {
  color: #3c4043;
  font-family: Miso;
  font-size: 70px;
  font-weight: 500;
  line-height: 2;
}

.hero .buttonarea p,
.intro .introcontent .introp {
  width: 90%;
  margin: auto;
  color: #3c4043;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.hero .buttonarea .btncontainer .btn img {
  width: 12px;
}

.mockup {
  /* background-color: #d0edff; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.mockupintro {
  text-align: center;
  background-image: url("../img/mockupintroimg.svg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding: 300px 0;
}
.mockupintro .mockupintrocon {
  text-align: center;
  gap: 28px;
  padding: 224px 0;
  background: linear-gradient(
    0deg,
    rgba(106, 133, 182, 0.2) -30.05%,
    rgba(186, 200, 224, 0.2) 100%
  );
  backdrop-filter: blur(20px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mockupintro .mockupintrocon h1 {
  color: #3c4043;
  font-family: "roboto";
  font-size: 26px;
  font-weight: 400;
  line-height: 2;
}

.mockupintro .mockupintrocon p {
  color: #3c4043;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  width: 60%;
}

.mockup .mockuppic {
  align-items: center;
  gap: 2rem;
  margin-bottom: 46px;
  @media (width>=760px) {
    display: flex;
  }
}
.mockup .mockuppic .copywritting {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin-bottom: 20%;

  @media (width>=760px) {
    width: 50%;
  }
}
.mockup .mockuppic .copywritting h1 {
  color: #fff;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
}
.mockup .mockuppic .copywritting p {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  line-height: 36px;
  width: 90%;
  margin-top: 20px;
}

.mockup .mockuppic .pic {
  position: relative;
  width: 100%;
  height: 1250px;
  overflow: hidden;
  @media (width>=760px) {
    width: 50%;
  }
}
.mockup .mockuppic .pic .pic-a,
.mockup .mockuppic .pic .pic-b,
.mockup .mockuppic .pic .pic-c {
  position: absolute;
  transition: left 0.5s ease, top 0.5s ease;
}
.mockup .mockuppic .pic .pic-a img,
.mockup .mockuppic .pic .pic-b img,
.mockup .mockuppic .pic .pic-c img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  border-radius: 32px;
  background: #d1dde5;
  box-shadow: 0 -10px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 24px;
  justify-content: space-between;
  align-items: center;
}

.mockup .mockuppic .pic .pic-a {
  top: 2rem;
  left: 2rem;
}
.mockup .mockuppic .pic .pic-a:hover {
  top: 0;
  left: 0;
}

.mockup .mockuppic .pic .pic-b {
  top: 18rem;
  left: 8rem;
}
.mockup .mockuppic .pic .pic-b:hover {
  top: 16rem;
  left: 6rem;
}
.mockup .mockuppic .pic .pic-c {
  top: 34rem;
  left: 14rem;
}

.mockup .mockuppic .pic .pic-c:hover {
  top: 32rem;
  left: 12rem;
}

.mockup .projects .projectbtn-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: sticky;
  top: 290px;
  width: fit-content;
  margin-left: 20px;
}

#aproject,
#bproject,
#cproject {
  scroll-margin-top: 90px;
  @media (width<=760px) {
    scroll-margin-top: 145px;
  }
}

.mockup .projects .projectbtn-group .project-btn {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  background-color: rgba(249, 237, 237, 0.7);
  backdrop-filter: blur(10px);
  font-size: 26px;
  color: #3cc3bd;
}

.mockup .btn-group {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  @media (width<=760px) {
    gap: 2px;
  }
}

.mockup .btn-group .btn {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  border: none;
  border-radius: 32px 32px 0 0;
  padding: 32px 14px;
  cursor: pointer;
  gap: 26px;
  font-family: "Miso";
  @media (width<=760px) {
    font-size: 16px;
    padding: 16px 6px;
    border-radius: 8px 8px 0 0;
  }
}

.skyblue {
  background-color: #f3efef;
}
.gray {
  background-color: #fff;
}
.ash {
  background-color: #afc4d1;
}
.pink {
  background-color: #e4f3ff;
}

.projects {
  margin-bottom: 300px;
  /* background-color: aqua; */
}
.project-content {
  /* background-color: #d0edff; */
  /* border-radius: 20px; */
  /* padding: 60px 0; */
  /* margin: 60px 0px; */
}
.project-content .mockup img {
  margin-bottom: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 32px;
  background: #d1dde5;
  padding: 24px;
  justify-content: center;
  align-items: center;
}

.first {
  z-index: 1;
}

.situation {
  padding: 60px 60px 0px 60px;
  /* background-color: #d0edff; */
  display: none;
  margin: 0 20px 40px 20px;
  border-radius: 0 20px 20px 20px;
  box-shadow: 0px -11px 4px 0px rgba(0, 0, 0, 0.25);
  @media (width<=760px) {
    border-radius: 0 12px 12px 12px;
  }
}

.tabcontent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;

  flex-wrap: wrap;
  @media (width<=1090px) {
    order: -2;
    text-align: center;
  }
}

.option {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  @media (width<=1090px) {
    flex-wrap: wrap;
  }
}

.option .secon {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  @media (width<=1090px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.option .secon .content {
  width: 40%;
  font-size: 20px;
  align-items: flex-start;
}

.mainpic {
  width: 60%;
}

.heighlight {
  font-size: 42px;
  @media (width<=760px) {
    font-size: 32px;
  }
}

.point {
  font-family: "roboto";
  color: #c77f7f;
  font-size: 20px;
  font-weight: 600;
}

.option .imgcontent {
  width: 100%;
}

/* ___wireframe___ */

.wireframe {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
}

.option .w_work {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wire_imgcontent {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  margin: auto;
}

.wireimg {
  width: 20%;
  @media (width<=814px) {
    width: 80%;
  }
}

/* prototype */

.protocontent {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: 100px;

  @media (width<=938px) {
    flex-wrap: wrap;
  }
}

.prototype {
  display: flex;
  font-family: miso;
  font-size: 22px;
  justify-content: center;
  margin-top: 100px;
  flex-direction: row;
}
.prototype .title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  color: #3c4043;
  font-family: MIso;
  font-size: 32px;
  font-weight: 700;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

  @media (width<=760px) {
    /* grid-column: 1 / 3;
      grid-row: 1 / 2; */
  }
}

.prototype .title h1 {
  font-size: 42px;
}

.ringocntent {
  margin-top: 20px;
  gap: 20px;
  display: flex;
  align-items: center;
}

.ringring {
  @media (width<=430px) {
    width: 60%;
  }
}

.chicken {
  @media (width<=430px) {
    width: 60%;
  }
}

.active {
  display: block;
}

.situation .option .title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  color: #3c4043;
  font-family: MIso;
  font-size: 32px;
  font-weight: 700;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

  @media (width<=760px) {
    /* grid-column: 1 / 3;
      grid-row: 1 / 2; */
  }
}

.situation .option .title h1 {
  font-size: 62px;
  @media (width<=760px) {
    font-size: 32px;
  }
}

.situation .option .content {
  color: #000;
  font-size: 18px;
  line-height: 1.5;
  width: 100%;
  font-family: "roboto";
}

.situation .option .secpic {
  /* grid-column: 2 / 3;
    grid-row: 3 / 4; */
  width: 35%;
  max-width: 156px;
  @media (width<=1078px) {
    order: -1;
  }
}

.avtry {
  aspect-ratio: 156/305;
  width: 200px;
  background-image: url("../img/hrfrontphone.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding: 15px 15px 15px;
}

.avpctry {
  aspect-ratio: 574/337;
  width: 574px;
  background-image: url("../img/hrfrontpcdem.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding: 24px 71px 43px;
  width: 100%;
}

.avpctry video {
  aspect-ratio: 432/272;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avtry video {
  aspect-ratio: 156/305;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 
__token___ */

.token {
  display: flex;
  flex-direction: column;
}

.tokencon {
  width: 100%;
}

.tokenimg {
  width: 100%;
  margin-bottom: 60px;
}

/* interview */

.interview {
  margin-top: 100px;
}

/* abtest */

.roomcon {
  display: flex;
  gap: 40px;
}

.abroom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abtest {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: miso;
}

.ab {
  width: 100%;
}

/* 
NPS */

.others {
  margin-top: 0%;
}

.othersroom {
  display: flex;
  align-items: center;
  gap: 100px;
  margin: auto;
  @media (width<=760px) {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
}

.anacon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abtest {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: miso;
}

.ab {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 50px;
}

.others {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.othersimg {
  margin-bottom: 60px;
  width: 100%;
}

p {
  font-family: "roboto";
  font-size: 18px;
  line-height: 1.5;
}
