html {
  --primaryBackground: linear-gradient(133deg, #f5f7fa 24.2%, #c3cfe2 69.65%);
  --front-1: #3c4043;
}

body {
  --primaryBackground: linear-gradient(133deg, #f5f7fa 24.2%, #c3cfe2 69.65%);
  --front-1: #3c4043;
  /* height: 100vh; */
}

@font-face {
  font-family: "Miso";
  src: url("/font/miso.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
