body {
  overflow: hidden;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.background {
  overflow: hidden;
  margin: 0;
}
.wellcomBT {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 125% */
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.BTcotaner {
  color: #403f3f;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    270deg,
    rgba(172, 203, 238, 0.8) 0.05%,
    rgba(245, 247, 230, 0.8) 49.67%,
    rgba(231, 240, 253, 0.8) 99.96%
  );

  transition: background ease 0.5s, color ease 0.5s;
}
.onlyhover {
  display: none;
}
.BTcotaner:hover {
  background: rgba(35, 35, 35, 0.5);
  backdrop-filter: blur(8px);
  color: #fff;
}

.BTcotaner:hover .onlyview {
  display: none;
}

.BTcotaner:hover .onlyhover {
  display: block;
}
