@font-face {
  font-family: "PostNoBillsColombo-SemiBold";
  src: url("/font/PostNoBillsColombo-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.background {
  overflow: hidden;
  margin: 0;
}
.wellcomBT {
  text-align: center;
  font-family: "PostNoBillsColombo-SemiBold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 125% */
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.BTcotaner {
  color: #403f3f;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  transition: background ease 0.5s, color ease 0.5s;
}
.onlyhover {
  display: none;
}
.BTcotaner:hover {
  /* background: rgba(35, 35, 35, 0.5); */
  backdrop-filter: blur(8px);
  color: #959292;
}

.BTcotaner:hover .onlyview {
  display: none;
}

.BTcotaner:hover .onlyhover {
  display: block;
}
